MakeApple/.utmp
MakeApple/.vs
MakeApple/Logs
MakeApple/Temp
MakeApple/.vsconfig
MakeApple/UserSettings
MakeApple/Builds
MakeApple/obj
MakeApple/Library
MakeApple/Assets/ExternalPackages
MakeApple/Assets/ExternalPackages.meta
*.csproj
*.sln
