MakeApple/.utmp
MakeApple/.vs
MakeApple/Logs
MakeApple/Temp
MakeApple/.vsconfig
MakeApple/UserSettings
MakeApple/Builds
MakeApple/obj
MakeApple/Library
MakeApple/Assets/ExternalPackages
MakeApple/Assets/ExternalPackages.meta
*.csproj
*.sln
MakeApple/Assets/GUIPackCartoon/Sources.meta
MakeApple/Assets/GUIPackCartoon/Sources

DiceGameUnity/.utmp
DiceGameUnity/.vs
DiceGameUnity/Logs
DiceGameUnity/Temp
DiceGameUnity/.vsconfig
DiceGameUnity/UserSettings
DiceGameUnity/Builds
DiceGameUnity/obj
DiceGameUnity/Library
DiceGameUnity/Assets/ExternalPackages
DiceGameUnity/Assets/ExternalPackages.meta
*.csproj
*.sln

